# Copy to .env and replace every TODO value.

NODE_DB_NAME=TODO
NODE_DB_USER=TODO
NODE_DB_PASSWORD=TODO

RELAY_TOKEN_ISSUER=TODO
RELAY_NODE_AUDIENCE=TODO
RELAY_SIGNING_KEY=TODO

# Public WebSocket URL that browsers will use to reach LiveKit.
LIVEKIT_PUBLIC_WS_URL=TODO
LIVEKIT_API_KEY=TODO
LIVEKIT_API_SECRET=TODO
