# Copy to .env and replace every TODO value.

CONTROLPLANE_DB_NAME=TODO
CONTROLPLANE_DB_USER=TODO
CONTROLPLANE_DB_PASSWORD=TODO

CLIENT_ORIGIN=TODO
AUTHENTIK_AUTHORITY=TODO
AUTHENTIK_CLIENT_ID=TODO
AUTHENTIK_CLIENT_SECRET=TODO
AUTHENTIK_SECRET_KEY=TODO
AUTHENTIK_POSTGRES_DB=authentik
AUTHENTIK_POSTGRES_USER=authentik
AUTHENTIK_POSTGRES_PASSWORD=TODO
AUTHENTIK_REDIS_PASSWORD=TODO

RELAY_TOKEN_ISSUER=TODO
RELAY_ACCESS_AUDIENCE=TODO
RELAY_REFRESH_AUDIENCE=TODO
RELAY_NODE_AUDIENCE=TODO
RELAY_SIGNING_KEY=TODO
