# Copy to .env and replace every TODO value.

CONTROLPLANE_DB_NAME=TODO
CONTROLPLANE_DB_USER=TODO
CONTROLPLANE_DB_PASSWORD=TODO

# This must be reachable from inside the container.
# If Authentik is deployed separately, use its internal DNS name or a routable URL.
AUTHENTIK_AUTHORITY=TODO
AUTHENTIK_CLIENT_ID=TODO
AUTHENTIK_CLIENT_SECRET=TODO

RELAY_TOKEN_ISSUER=TODO
RELAY_ACCESS_AUDIENCE=TODO
RELAY_REFRESH_AUDIENCE=TODO
RELAY_NODE_AUDIENCE=TODO
RELAY_SIGNING_KEY=TODO
